/variaveis/nbproject/private/
/variaveis/build/
/tipos/nbproject/private/
/tipos/build/
/operadores/nbproject/private/
/operadores/build/
/casting/nbproject/private/
/casting/build/
/metodos/nbproject/private/
